<div th:fragment="header" class="container" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div  class="col-lg-3">
      <a sec:authorize="hasRole('ADMIN')" href="/admin"><button class="btn btn-danger">Пользователи</button></a>
      <a sec:authorize="hasRole('ADMIN')" href="/catalog/add"><button class="btn btn-info">Добавить товары</button></a>
    </div>
    <div class="col-lg-6">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="active btn btn-primary px-2">Главная страница</a></li>
        <li><a href="/catalog" class="nav-link px-2 link-dark">Каталог</a></li>
        <li><a href="/cart" class="nav-link px-2 link-dark">Корзина</a></li>
      </ul>
    </div>
    <div class="col-lg-3 d-flex justify-content-center">
      <div sec:authorize="!isAuthenticated()" class="text-end">
        <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
        <a href="/registration"><button type="button" class="btn btn-primary">Sign-up</button></a>
      </div>
      <div sec:authorize="isAuthenticated()">
        <span>Вы авторизованы как</span>
        <div class="col-md-3 text-end" >
          <b sec:authentication="name"></b>
          <a href="/logout"><button class="btn btn-info">Выйти</button></a>
        </div>
      </div>
    </div>
  </header>
</div>